<h1>Pirate</h1>
<div class= "Pirate">
<p>Pirate Name: <%= @pirate.name %> </p>
<p>Pirate Weight: <%= @pirate.weight %> lbs</p>
<p>Pirate Height: <%= @pirate.height %> inches</p>
</div>

<h2>Ships</h2>
<% @ship.each do |ship|%>
<div class= "Ship">
<p>Ship Name: <%= @ship.name %> </p>
<p>Ship Type: <%= @ship.type %> </p>
<p>Pirate Booty: <%= @ship.booty %> </p>
</div>
